<h1>Register</h1>

<form id='form_registrer' ng-submit='submit()'>
	<label>Login</label>
	<input type='text' ng-model='login' placeholder='Login' ng-style='login_style'/> 
	<label>Mail</label>
	<input type='text' ng-model='mail' placeholder='Mail' ng-style='mail_style'/> 
	<label>Password</label>
	<input type='password' ng-model='pass1' placeholder='Password' ng-style='pass1_style'/> 
	<label>Password again</label>
	<input type='password' ng-model='pass2' placeholder='Confirmed password' ng-style='pass2_style'/> 
	<input type='submit' value='Sign out'/>
</form>